<nav class="navbar navbar-expand-lg navbar-light" style="background-color: #0a4275;">
  <img class="img-fluid" src="assets/img/exit.png" alt="image" />
  <a class="navbar-brand text-light font-weight-bold" [routerLink]="['home']">Sortir</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse justify-content-end" id="navbarNavAltMarkup">
    <div class="navbar-nav">
      <li class="nav-item" routerLinkActive="active">
        <a class="nav-item nav-link text-light" [routerLink]="['home']">Accueil</a>
      </li>
      <li class="nav-item" routerLinkActive="active">
        <a class="nav-item nav-link text-light" [routerLink]="['utilisateur/modifier']">Mon compte</a>
      </li>
      <li class="nav-item" routerLinkActive="active">
        <a class="nav-item nav-link text-light" [routerLink]="['afficher']">Voir la liste des sorties</a>
      </li>
      <li class="nav-item" routerLinkActive="active">
        <a class="nav-item nav-link text-light" [routerLink]="['creer']">Créer une sortie</a>
      </li>
      <li class="nav-item" routerLinkActive="active">
        <a class="nav-item nav-link text-light mr-5" [routerLink]="['../login']">Se déconnecter</a>
      </li>
    </div>
  </div>
</nav>

<!-- margin top et margin bottom -->
<div class="container-fluid mt-5 mb-5">
  <router-outlet></router-outlet>
</div>

<footer class="text-center text-white" style="background-color: #0a4275;">
  <!-- Grid container -->
  <div class="container p-4 pb-0">
    <!-- Section: CTA -->
    <section class="">
      <p class="d-flex justify-content-center align-items-center">
        <span class="me-3">Register for free</span>
        <button type="button" class="btn btn-outline-light btn-rounded">
          Sign up!
        </button>
      </p>
    </section>
    <!-- Section: CTA -->
  </div>
  <!-- Grid container -->

  <!-- Copyright -->
  <div class="text-center p-3" style="background-color: rgba(0, 0, 0, 0.2);">
    © 2020 Copyright:
    <a class="text-white" href="https://mdbootstrap.com/">MDBootstrap.com</a>
  </div>
  <!-- Copyright -->
</footer>
