<div class="alert alert-danger mt-2 mb-2 d-flex align-items-center" *ngIf="errorMessage">
  <span class="material-icons mr-2">error</span>
  {{ errorMessage }}
  <span class="material-icons ml-auto" (click)="hideErrorMessage()">
    close
  </span>
</div>

<div class="card">
  <div class="card-header text-white bg-info">
    Modifier une sortie
  </div>
  <div class="card-body">


    <!-- novalidate fait on sorte que la validation utilisée soit vraiment celle d'angular -->
    <!-- -->
    <form novalidate (ngSubmit)="onUpdate()" [formGroup]="sortieForm" *ngIf="selectedSortie">

      <!-- ligne 1 nom de la sortie et date limite d'inscription -->
      <div class="form-group row mb-3">
        <div class="col-sm-6">
          <label for="nom">Nom de la sortie</label>
          <input type="text" class="form-control" id="nom"
          formControlName="nom" />
        </div>

        <div class="col-sm-6" >
          <label for="dateInscription">Date limite d'inscription</label>
          <input
            type="date"
            class="form-control"
            id="dateInscription"
            formControlName="dateLimiteInscription"/>
        </div>
      </div> <!-- ligne 1-->


      <!-- ligne 2 date et heure de la sortie ainsi que sa durée -->
      <div class="form-group row mb-3">
        <div class="col-sm-6">
          <label for="dateSortie">Date et heure de la sortie</label>
          <input
            type="datetime-local"
            class="form-control"
            id="dateSortie"
            formControlName="dateHeureDebut" />
          </div>

          <div class="col-sm-6">
            <label for="duree">Duree</label>
            <input type="text" class="form-control" id="duree"
            formControlName = "duree"/>
          </div>
        </div> <!-- ligne 2-->


      <!-- ligne 3 nombre de place + duree -->
      <div class="form-group row mb-3">
        <div class="col-sm-6">
          <label for="nbPlace">Nombre de places</label>
          <input type="text" class="form-control" id="nbPlace"
          formControlName="nbInscriptionsMax"/>
        </div>


      </div> <!-- ligne 3-->



      <!-- ligne 4 de description de la sortie-->
      <div class="form-group row mb-3">
        <div class="col-sm-12">
          <label for="description">Description et infos</label>
          <textarea class="form-control" id="description" rows="5"
          formControlName = "infosSortie">
          </textarea>
        </div>
      </div> <!-- ligne 4-->

      <!-- ligne d'actions button -->
      <div class="form-row d-flex">
        <button class="btn btn-info" type="submit" >
          Enregistrer
        </button>

        <button class="btn btn-outline-secondary ms-3" type="button" [routerLink]="['/sortie/afficher']">
          Annuler
        </button>

        <button (click)="onDelete()" class="btn btn-outline-danger ms-3" type="button" >
          Supprimer
        </button>
      </div> <!-- ligne action button-->
    </form>
  </div>
</div>


